html {
    height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
}

.main-block {
    display: flex;
}

.main-block .menu-block {
    flex: 0 0 15%;
}

.main-block .content-block {
    display: flex;
    flex: 0 0 85%;
    flex-direction: column;
}

.menu-item {
  display: flex;
  flex: 1;
}

.content-block  .up-block {
  flex: 0 0 20%;
}

.content-block  .down-block {
  flex: 0 0 80%;
}
